/* ##################################### */

.navbar-scrolled {
    position: fixed !important;
    width: 100%;
    left: 0;
    top: 0 !important;;
    z-index: 100;
    border-top: 0;
}

/* ##################################### */

.hero-div {
	width: 100%;
	height: 680px;
	background-color: #0C0C0C;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hero-div-content {
	color: white;
	font-size: 60px;
	text-align: center;
}

.hero-div-content i {
	color: #F4C95D;
}

/* ##################################### */

.bio-div {
	padding: 0px !important;
}

.navbar {
	border-radius: 0px !important;
	margin-bottom: 0px !important;
	border: none !important;
	background-color: #0C0C0C !important;
	box-shadow: 0px 4px #00A7E1;
}

.navbar-nav a {
	color: #F4C95D !important;
	font-weight: bold;
	line-height: 30px;
	font-size: 18px;
}

.bio-div-content-container {
	width: 100%;
	height: 400px;
	background-color: #00A7E1;
}

span.icon-bar {
	background-color: #F4C95D !important; 
}

/* ##################################### */

.projects-div {
	padding: 0px !important;
	background-color: white;
}

.projects-header {
	text-align: center;
	padding: 50px;
}

.projects-header h1 {
	font-weight: bold;
	color: #0C0C0C;
}

.project-div-container {
	height: auto;
	background-color: green;
}

.project-div-content {
	padding: 0px !important;
	height: auto;
	transition: all .2s ease-in-out; 
}

.project-div-content:hover {
	opacity: 1;
	transform: scale(0.95);
}

.project-image {
	width: 100%;
}

.project-content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	box-sizing: border-box;
	padding: 15px 35px;
	height: 250px;
	font-weight: bold;
/*	background-color: #FDFFF7;*/
}

.project-content h3 {
	color: #00A7E1;
	font-weight: bold;
}

.project-content p {
	color: #0C0C0C;
}

/* ##################################### */

.contact-div {
	width: 100%;
	height: 200px;
	background-color: #0C0C0C;
	display: flex;
	justify-content: center;
	align-items: center;
}

.contact-div-content i {
	color: #F4C95D;
	font-size: 25px;
	text-align: center;
	padding: 5px;
}
